SYSTEMD_LOG_LEVEL=debug
{% for ev in promtail_custom_environment_variables %}
{{ ev }}
{% endfor %}
{% if promtail_aws_install %}
{% for item in _aws_ec2_metadata.results %}
{{ item.item.key }}={{ item.stdout }}
{% endfor %}
{% endif %}