server:
  http_listen_port: {{ promtail_http_listen_port }}
  grpc_listen_port: {{ promtail_grpc_listen_port }}

positions:
  filename: {{ promtail_log_dir }}/{{ promtail_positions_file }}

clients:
  - url: http://{{ loki_url }}:{{ loki_http_listen_port }}/loki/api/v1/push
    backoff_config:
      min_period: {{ promtail_backoff_min_period }}
      max_period: {{ promtail_backoff_max_period }}
      max_retries: {{ promtail_backoff_max_retries }}
    batchwait: {{ promtail_batchwait }}
    batchsize: {{ promtail_batchsize }}

{% if promtail_readline_rate_enabled == true %}
limits_config:
  readline_rate_enabled: true
  readline_rate: {{ promtail_readline_rate }}
  readline_burst: {{ promtail_readline_burst }}
  readline_rate_drop: {{ promtail_readline_rate_drop }}
{% endif %}

scrape_configs:

- job_name: systemd-journal

  journal:
{% if ansible_facts['os_family'] == "Debian" %}
    path: /var/log/journal
{% else %}
    path: /run/log/journal
{% endif %}
    labels:
      job: systemd-journal
      {% if aws_install == true %}

      instance: ${EC2_INSTANCE}
      name: ${EC2_TAG_NAME}
      role: ${EC2_TAG_ROLE}
      {% endif %}

  relabel_configs:
    - source_labels: ['__journal__systemd_unit']
      target_label: unit

{% for dict_item in scrape_jobs %}

- job_name: {{dict_item['job_name']}}
  static_configs:
  - targets:
      - localhost
    labels:
      job: {{dict_item['job_name']}}
      __path__: {{dict_item['path']}}
      {% if aws_install == true %}

      instance: ${EC2_INSTANCE}
      name: ${EC2_TAG_NAME}
      role: ${EC2_TAG_ROLE}
      {% endif %}

{% endfor %}

