server:
  http_listen_port: {{ promtail_http_listen_port }}
  grpc_listen_port: {{ promtail_grpc_listen_port }}

positions:
  filename: /tmp/positions.yaml

clients:
  - url: {{ promtail_loki_url }}{{ promtail_loki_push_path }}
    external_labels:
      {{ promtail_external_labels | to_nice_yaml(indent=2) | indent(6, False) }}


scrape_configs:

- job_name: systemd-journal

  journal:
{% if ansible_facts['os_family'] == "Debian" %}
    path: /var/log/journal
{% else %}
    path: /run/log/journal
{% endif %}
    labels:
      job: systemd-journal

  relabel_configs:
    - source_labels: ['__journal__systemd_unit']
      target_label: unit

{% for dict_item in promtail_scrape_jobs %}

- job_name: {{dict_item['job_name']}}
  static_configs:
  - targets:
      - localhost
    labels:
      job: {{dict_item['job_name']}}
      __path__: {{dict_item['path']}}

{% endfor %}

