[Unit]
Description=Promtail Agent
After=network.target

[Service]
Type=simple
ExecStart={{ promtail_bin_dir }}/{{ promtail_bin }} -config.file {{ promtail_config_dir }}/{{ promtail_config_file }}
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=multi-user.target